kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
# Using flannel for networking instead of `kindnet`
networking:
  disableDefaultCNI: true
nodes:
- role: control-plane
  # Directly expose the CNI plugins stored locally into the cluster.
  # 
  # Taken from https://medium.com/swlh/customise-your-kind-clusters-networking-layer-1249e7916100
  # It's a medium "member-only" article; if you're out of articles, clear your cookies for the site ;)
  extraMounts:
  - hostPath: cni-bin
    containerPath: /opt/cni/bin

  # virtink requires kube-apiserver to be run with `--allow-privileged=true`
  #
  # For more on the config here, see:
  #  * https://kind.sigs.k8s.io/docs/user/configuration/#kubeadm-config-patches
  #  * https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/control-plane-flags/#apiserver-flags
  kubeadmConfigPatches:
  - |
    kind: ClusterConfiguration
    apiServer:
      extraArgs:
        allow-privileged: "true"
# Ensure that our local registry is visible within the cluster as `kind-registry`
containerdConfigPatches:
- |-
  [plugins."io.containerd.grpc.v1.cri".registry.mirrors."localhost:5001"]
  endpoint = ["http://kind-registry:5000"]
