apiVersion: apps/v1
kind: Deployment
metadata:
  name: controller
  namespace: system
spec:
  template:
    spec:
      containers:
      - name: manager
        env:
        - name: NAD_IPAM_NAME
          value: $(NAD_IPAM_NAME)
        - name: NAD_IPAM_NAMESPACE
          value: $(NAD_IPAM_NAMESPACE)
        - name: NAD_RUNNER_NAME
          value: $(NAD_RUNNER_NAME)
        - name: NAD_RUNNER_NAMESPACE
          value: $(NAD_RUNNER_NAMESPACE)
        resources:
          limits:
            cpu: 8
            memory: 2Gi
          requests:
            cpu: 2
            memory: 1Gi
