apiVersion: apps/v1
kind: Deployment
metadata:
  name: controller
  namespace: system
spec:
  template:
    spec:
      containers:
      - name: manager
        ports:
        - name: metrics
          containerPort: 8080
          protocol: TCP
        args:
        - "--health-probe-bind-address=:8081"
        - "--metrics-bind-address=:8080"
        - "--leader-elect"
        - "--concurrency-limit=128"
        - "--zap-devel=false"
        - "--zap-time-encoding=iso8601"
        - "--zap-log-level=info"
        - "--zap-stacktrace-level=panic"
        # FIXME: Rebase & move this to the appropriate place after merging #779.
        #
        # See #775 and its links.
        # * cache.writeback=on  - don't set O_DSYNC (don't flush every write)
        # * cache.direct=on     - forces using direct IO (don't abuse host's page cache!)
        # * cache.no-flush=on   - ignores disk flush operations (not needed; our disks are ephemeral)
        - "--qemu-disk-cache-settings=cache.writeback=on,cache.direct=on,cache.no-flush=on"
        env:
        - name: NAD_IPAM_NAME
          value: $(NAD_IPAM_NAME)
        - name: NAD_IPAM_NAMESPACE
          value: $(NAD_IPAM_NAMESPACE)
        - name: NAD_RUNNER_NAME
          value: $(NAD_RUNNER_NAME)
        - name: NAD_RUNNER_NAMESPACE
          value: $(NAD_RUNNER_NAMESPACE)
        resources:
          limits:
            cpu: 4
            memory: 2Gi
          requests:
            cpu: 2
            memory: 1Gi
