# More info: https://docs.docker.com/engine/reference/builder/#dockerignore-file
# Ignore build and test binaries.
bin/
testbin/

rendered_manifests

# Exclude files for local kernel development; these are not needed in the docker context.
neonvm-kernel/sources/
