# Adds namespace to all resources.
namespace: neonvm-system

# Value of this field is prepended to the
# names of all resources, e.g. a deployment named
# "wordpress" becomes "alices-wordpress".
# Note that it should also match with the prefix (text before '-') of the namespace
# field above.
namePrefix: neonvm-

# Labels to add to all resources and selectors.
#commonLabels:
#  someName: someValue

bases:
- namespace
- crd
- rbac
- controller
# [WEBHOOK] To enable webhook, uncomment all the sections with [WEBHOOK] prefix including the one in
# crd/kustomization.yaml
- webhook
# [CERTMANAGER] To enable cert-manager, uncomment all sections with 'CERTMANAGER'. 'WEBHOOK' components are required.
- certmanager
# [PROMETHEUS] To enable prometheus monitor, uncomment all sections with 'PROMETHEUS'.
#- ../common/prometheus
- vxlan-controller
- network
- device-plugin

patchesStrategicMerge:
- manager_config_patch.yaml

# [WEBHOOK] To enable webhook, uncomment all the sections with [WEBHOOK] prefix including the one in
# crd/kustomization.yaml
- manager_webhook_patch.yaml

# [CERTMANAGER] To enable cert-manager, uncomment all sections with 'CERTMANAGER'.
# Uncomment 'CERTMANAGER' sections in crd/kustomization.yaml to enable the CA injection in the admission webhooks.
# 'CERTMANAGER' needs to be enabled to use ca injection
- webhookcainjection_patch.yaml

# the following config is for teaching kustomize how to do var substitution
vars:
# [CERTMANAGER] To enable cert-manager, uncomment all sections with 'CERTMANAGER' prefix.
- name: CERTIFICATE_NAMESPACE # namespace of the certificate CR
  objref:
    kind: Certificate
    group: cert-manager.io
    version: v1
    name: serving-cert # this name should match the one in certificate.yaml
  fieldref:
    fieldpath: metadata.namespace
- name: CERTIFICATE_NAME
  objref:
    kind: Certificate
    group: cert-manager.io
    version: v1
    name: serving-cert # this name should match the one in certificate.yaml
- name: SERVICE_NAMESPACE # namespace of the service
  objref:
    kind: Service
    version: v1
    name: webhook-service
  fieldref:
    fieldpath: metadata.namespace
- name: SERVICE_NAME
  objref:
    kind: Service
    version: v1
    name: webhook-service
# overlay networking variables
- name: NAD_IPAM_NAME
  objref:
    kind: NetworkAttachmentDefinition
    group: k8s.cni.cncf.io
    version: v1
    name: overlay-ipam # this name should match the one in overlay-ipam.yaml
  fieldref:
    fieldpath: metadata.name
- name: NAD_IPAM_NAMESPACE
  objref:
    kind: NetworkAttachmentDefinition
    group: k8s.cni.cncf.io
    version: v1
    name: overlay-ipam # this name should match the one in overlay-ipam.yaml
  fieldref:
    fieldpath: metadata.namespace
- name: NAD_RUNNER_NAME
  objref:
    kind: NetworkAttachmentDefinition
    group: k8s.cni.cncf.io
    version: v1
    name: overlay-for-vms # this name should match the one in overlay-for-vms.yaml
  fieldref:
    fieldpath: metadata.name
- name: NAD_RUNNER_NAMESPACE
  objref:
    kind: NetworkAttachmentDefinition
    group: k8s.cni.cncf.io
    version: v1
    name: overlay-for-vms # this name should match the one in overlay-for-vms.yaml
  fieldref:
    fieldpath: metadata.namespace
