[Unit]
Description=ssh authorized_keys from host

[Mount]
What=LABEL=ssh-authorized-keys
Where=/mnt/ssh
Options=ro,defaults

[Install]
WantedBy=multi-user.target
