apiVersion: v1
kind: ConfigMap
metadata:
  name: autoscaler-agent-config
  namespace: kube-system
data:
  config.json: |
    {
      "scaling": {
        "computeUnit": { "vCPUs": 0.25, "mem": "1Gi" },
        "defaultConfig": {
          "loadAverageFractionTarget": 0.9,
          "memoryUsageFractionTarget": 0.75
        }
      },
      "monitor": {
          "serverPort": 10301,
          "responseTimeoutSeconds": 5,
          "connectionTimeoutSeconds": 4,
          "connectionRetryMinWaitSeconds": 5,
          "unhealthyAfterSilenceDurationSeconds": 20,
          "unhealthyStartupGracePeriodSeconds": 20,
          "maxHealthCheckSequentialFailuresSeconds": 30,
          "retryDeniedDownscaleSeconds": 5,
          "requestedUpscaleValidSeconds": 10,
          "retryFailedRequestSeconds": 3,
          "maxFailedRequestRate": {
            "intervalSeconds": 120,
            "threshold": 2
          }
      },
      "metrics": {
        "port": 9100,
        "loadMetricPrefix": "host_",
        "requestTimeoutSeconds": 2,
        "secondsBetweenRequests": 5
      },
      "scheduler": {
        "schedulerName": "autoscale-scheduler",
        "requestTimeoutSeconds": 2,
        "requestAtLeastEverySeconds": 5,
        "retryFailedRequestSeconds": 3,
        "retryDeniedUpscaleSeconds": 2,
        "requestPort": 10299,
        "maxFailedRequestRate": {
          "intervalSeconds": 120,
          "threshold": 5
        }
      },
      "dumpState": {
        "port": 10300,
        "timeoutSeconds": 5
      },
      "neonvm": {
        "requestTimeoutSeconds": 10,
        "retryFailedRequestSeconds": 5,
        "maxFailedRequestRate": {
          "intervalSeconds": 120,
          "threshold": 2
        }
      }
    }
