apiVersion: v1
kind: ConfigMap
metadata:
  name: autoscaler-agent-config
  namespace: kube-system
data:
  config.json: |
    {
      "scaling": {
        "requestTimeoutSeconds": 10,
        "defaultConfig": {
          "loadAverageFractionTarget": 0.9,
          "memoryUsageFractionTarget": 0.75
        }
      },
      "monitor": {
          "serverPort": 10301,
          "responseTimeoutSeconds": 5,
          "connectionTimeoutSeconds": 4,
          "unhealthyAfterSilenceDurationSeconds": 20,
          "unhealthyStartupGracePeriodSeconds": 20
      },
      "metrics": {
        "loadMetricPrefix": "host_",
        "requestTimeoutSeconds": 2,
        "secondsBetweenRequests": 5
      },
      "scheduler": {
        "schedulerName": "autoscale-scheduler",
        "requestTimeoutSeconds": 2,
        "requestPort": 10299
      },
      "dumpState": {
        "port": 10300,
        "timeoutSeconds": 5
      }
    }
