name: check-cluster-autoscaler-builds
on:
  pull_request:
    paths:
      - "cluster-autoscaler/ca.tag"
      - "cluster-autoscaler/ca.patch"
      - "cluster-autoscaler/Dockerfile"
  push:
    branches:
      - main
    paths:
      - "cluster-autoscaler/ca.tag"
      - "cluster-autoscaler/ca.patch"
      - "cluster-autoscaler/Dockerfile"

jobs:
  build-ca:
    runs-on: [ self-hosted, gen3, small ]
    #runs-on: [ self-hosted, gen3, neon-small ]
    steps:
      - uses: actions/checkout@v3
      - uses: docker/setup-buildx-action@v2

        # FIXME: is there a way to use docker/build-push without actually pushing here? It'd be good
        # to take advantage of all their extra stuff (build caches, etc.)
      - name: Build cluster-autoscaler
        run: docker buildx build --build-arg CA_GIT_TAG=$(cat cluster-autoscaler/ca.tag) cluster-autoscaler
