name: release
on:
  push:
    tags:
      - "v*.*.*"

env:
  AGENT_IMAGE: "neondatabase/autoscaler-agent"
  SCHED_IMAGE: "neondatabase/autoscale-scheduler"
  INFORMANT_IMAGE: "neondatabase/vm-informant"

  LOCAL_AGENT_IMAGE: "autoscaler-agent:dev"
  LOCAL_SCHED_IMAGE: "kube-autoscale-scheduler:dev"

  KUSTOMIZE_VERSION:        "4.5.7"
  CONTROLLER_TOOLS_VERSION: "0.9.2"
  CODE_GENERATOR_VERSION:   "0.26.0"
  IMG:                      "neondatabase/neonvm-controller"
  IMG_VXLAN:                "neondatabase/neonvm-vxlan-controller"
  IMG_RUNNER:               "neondatabase/neonvm-runner"
  VM_KERNEL_IMAGE:          "neondatabase/vm-kernel"
  VM_KERNEL_VERSION:        "5.15.80"

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: git checkout
        uses: actions/checkout@v3
      - name: get version and git info
        id: get_vcs_info
        run: |
          echo "version=${{ github.ref_name }}" >> $GITHUB_OUTPUT
          echo -n "git_info=" >> $GITHUB_OUTPUT
          # note: --tags enables matching on lightweight (i.e. not annotated) tags, which normally
          # wouldn't be necessary, except that actions/checkout@v3 does weird things to setup the
          # repository that means that we actually end up checked out with *just* a lightweight tag
          # to the tagged commit.
          git describe --tags --long --dirty >> $GITHUB_OUTPUT
      - name: install golang
        uses: actions/setup-go@v4
        with:
          go-version-file: 'go.mod'

      - name: build binaries
        run:  make VERSION=${{ steps.get_vcs_info.outputs.version }} VM_INFORMANT_IMG=${{ env.INFORMANT_IMAGE }}:${{ steps.get_vcs_info.outputs.version }} build

      - name: docker - install qemu
        uses: docker/setup-qemu-action@v2
      - name: docker - setup buildx
        uses: docker/setup-buildx-action@v2
      - name: login to docker hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.NEON_DOCKERHUB_USERNAME }}
          password: ${{ secrets.NEON_DOCKERHUB_PASSWORD }}

      - name: load vm kernel
        run: |
          docker pull --quiet ${{ env.VM_KERNEL_IMAGE }}:${{ env.VM_KERNEL_VERSION }}
          ID=$(docker create ${{ env.VM_KERNEL_IMAGE }}:${{ env.VM_KERNEL_VERSION }} true)
          docker cp ${ID}:/vmlinuz neonvm/hack/vmlinuz
          docker rm -f ${ID}

      - name: build and push runner image
        uses: docker/build-push-action@v3
        with:
          context: .
          platforms: linux/amd64
          push: true
          file: neonvm/runner/Dockerfile
          tags: ${{ env.IMG_RUNNER }}:${{ steps.get_vcs_info.outputs.version }}

      - name: build and push controller image
        uses: docker/build-push-action@v3
        with:
          build-args: VM_RUNNER_IMAGE=${{ env.IMG_RUNNER }}:${{ steps.get_vcs_info.outputs.version }}
          context: .
          platforms: linux/amd64
          push: true
          file: neonvm/Dockerfile
          tags: ${{ env.IMG }}:${{ steps.get_vcs_info.outputs.version }}

      - name: build and push vxlan controller image
        uses: docker/build-push-action@v3
        with:
          context: .
          platforms: linux/amd64
          push: true
          file: neonvm/tools/vxlan/Dockerfile
          tags: ${{ env.IMG_VXLAN }}:${{ steps.get_vcs_info.outputs.version }}

      - name: render kubernetes resources
        uses: stefanprodan/kube-tools@v1
        with:
          kustomize: ${{ env.KUSTOMIZE_VERSION }}
          command: |
            kustomize version --short
            cd ${GITHUB_WORKSPACE}/neonvm/config/common/controller              && kustomize edit set image controller=${{ env.IMG }}:${{ steps.get_vcs_info.outputs.version }}
            cd ${GITHUB_WORKSPACE}/neonvm/config/default-vxlan/vxlan-controller && kustomize edit set image vxlan-controller=${{ env.IMG_VXLAN }}:${{ steps.get_vcs_info.outputs.version }}
            cd ${GITHUB_WORKSPACE}/neonvm/config/default-vxlan/vxlan-ipam       && kustomize edit set image vxlan-controller=${{ env.IMG_VXLAN }}:${{ steps.get_vcs_info.outputs.version }}
            cd ${GITHUB_WORKSPACE}/neonvm/
            kustomize build config/default-vxlan/multus     --output multus.yaml
            kustomize build config/default-vxlan/multus-eks --output multus-eks.yaml
            kustomize build config/default-vxlan            --output neonvm-vxlan.yaml

      # note: We *could* use something like kustomize for this. But there's extra steps (e.g.,
      # adding kustomization.yaml) and sed is simple; so we can deal with this for now.
      - name: modify deploy files to use current image(s)
        run: |
          # check that the images are present:
          grep -q ${{ env.LOCAL_AGENT_IMAGE }} deploy/autoscaler-agent.yaml
          grep -q ${{ env.LOCAL_SCHED_IMAGE }} deploy/autoscale-scheduler.yaml
          sed -i -e s^${{ env.LOCAL_AGENT_IMAGE }}^${{ env.AGENT_IMAGE }}:${{ steps.get_vcs_info.outputs.version }}^g deploy/autoscaler-agent.yaml
          sed -i -e s^${{ env.LOCAL_SCHED_IMAGE }}^${{ env.SCHED_IMAGE }}:${{ steps.get_vcs_info.outputs.version }}^g deploy/autoscale-scheduler.yaml

      - name: check everything builds
        run: go build ./...

      - name: build and push autoscale-scheduler image
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          file: build/autoscale-scheduler/Dockerfile
          tags: ${{ env.SCHED_IMAGE }}:${{ steps.get_vcs_info.outputs.version }}
          build-args: |
            GIT_INFO=${{ steps.get_vcs_info.outputs.git_info }}
      - name: build and push autoscaler-agent image
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          file: build/autoscaler-agent/Dockerfile
          tags: ${{ env.AGENT_IMAGE }}:${{ steps.get_vcs_info.outputs.version }}
          build-args: |
            GIT_INFO=${{ steps.get_vcs_info.outputs.git_info }}
      - name: build and push vm-informant image
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          file: build/vm-informant/Dockerfile
          tags: ${{ env.INFORMANT_IMAGE }}:${{ steps.get_vcs_info.outputs.version }}
          build-args: |
            GIT_INFO=${{ steps.get_vcs_info.outputs.git_info }}

      # Because we want a docker image for the VM informant, the easiest way for us to also provide
      # a binary is by just extracting it from the container image itself.
      - name: extract vm-informant binary
        run: |
          ID=$(docker create ${{ env.INFORMANT_IMAGE }}:${{ steps.get_vcs_info.outputs.version }})
          docker cp $ID:/usr/bin/vm-informant bin/vm-informant
          docker rm -f $ID

      - name: github release
        uses: softprops/action-gh-release@v1
        with:
          fail_on_unmatched_files: true
          files: |
            bin/vm-builder
            bin/vm-builder-generic
            bin/vm-informant
            deploy/autoscale-scheduler.yaml
            deploy/autoscaler-agent.yaml
            neonvm/multus.yaml
            neonvm/multus-eks.yaml
            neonvm/neonvm-vxlan.yaml
