name: test
on:
  pull_request:
  push:
    paths:
      - "**.go"
    branches:
      - main

jobs:
  tests:
    runs-on: ubuntu-latest # neon-small
    timeout-minutes: 10
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version-file: 'go.mod'
      - uses: technote-space/get-diff-action@v6
        with:
          PATTERNS: |
            **/**.go
            "!test/"
            go.mod
            go.sum
      - name: Run Go Tests
        if: env.GIT_DIFF
        run: |
          make test
