name: vm-kernel

on:
  workflow_dispatch: # adds ability to run this manually
    inputs:
      tag:
        description: 'Tag to use for Docker image'
        type: string
        required: false
      force-rebuild:
        description: 'Rebuild the kernel image even if it already exists'
        type: boolean
        required: false
        default: false
  workflow_call:
    inputs:
      tag:
        description: 'Tag to use for Docker image'
        type: string
        required: false
      return-image-for-tag:
        description: 'Make workflow to return image for the passed tag without building or tagging anything'
        type: string
        required: false
        default: ''
      force-rebuild:
        description: 'Rebuild the kernel image even if it already exists. No-op if `return-image-for-tag` is set'
        type: boolean
        required: false
        default: false
      archs:
        description: 'Architectures to build for'
        type: string
        required: false
        default: '["amd64","arm64"]'

    outputs:
      image:
        description: 'vm-kernel Docker image'
        value: ${{ jobs.merge-kernel-images.outputs.image || jobs.setup-build-vm-kernel-image.outputs.image }}

env:
  VM_KERNEL_IMAGE:    "vm-kernel"
  GHCR_REGISTRY:      "ghcr.io/neondatabase"
  DOCKERHUB_REGISTRY: "docker.io/neondatabase"

defaults:
  run:
    shell: bash -euo pipefail {0}

jobs:
  setup-build-vm-kernel-image:
    permissions:
      contents: read  # This is required for actions/checkout
      packages: write  # required for pushing to GHCR
    strategy:
      matrix:
        arch: ${{ fromJson(inputs.archs) }}
    outputs:
      image: ${{ steps.get-kernel-image.outputs.image }}
      kernel-cache-tag: ${{ steps.get-kernel-cache-tag.outputs.kernel-cache-tag }}
    runs-on: ubuntu-latest

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@4d991eb9b905ef189e4c376166672c3f2f230481 # v2.11.0
        with:
          egress-policy: audit

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: set kernel cache tag
        id: get-kernel-cache-tag
        env:
          KERNEL_CACHE_TAG: |
            ${{ hashFiles('.github/workflows/vm-kernel.yaml',
                          'neonvm-kernel/**') }}
        run: |
          echo "kernel-cache-tag=${KERNEL_CACHE_TAG}" >> $GITHUB_OUTPUT

      - name: Login to GHCR
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3.4.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: get kernel image
        id: get-kernel-image
        env:
          FORCED_TAG: ${{ inputs.return-image-for-tag }}
          FORCE_REBUILD: ${{ inputs.force-rebuild }}
          CACHE_TAG: ${{ steps.get-kernel-cache-tag.outputs.kernel-cache-tag }}
        run: |
          ghcr_image="${GHCR_REGISTRY}/${VM_KERNEL_IMAGE}"
          if [ -n "${FORCED_TAG}" ]; then
            DIGEST=$(docker manifest inspect ${ghcr_image}-${{ matrix.arch }}:${FORCED_TAG} -v | jq -r '.Descriptor.digest')
            IMAGE="${ghcr_image}-${{ matrix.arch }}:${FORCED_TAG}@${DIGEST}"
          elif [ "${FORCE_REBUILD}" == "false" ]; then
            CACHE_TAG_DIGEST=$(docker manifest inspect ${ghcr_image}-${{ matrix.arch }}:${CACHE_TAG} -v | jq -r '.Descriptor.digest' || true)
            if [ -n "${CACHE_TAG_DIGEST}" ]; then
              IMAGE="${ghcr_image}-${{ matrix.arch }}:${CACHE_TAG}@${CACHE_TAG_DIGEST}"
            else
              IMAGE=""
            fi
          else
            IMAGE=""
          fi

          echo "image=${IMAGE}" >> $GITHUB_OUTPUT

      - name: check if we need to retag the image
        id: check-if-retag-needed
        env:
          CACHED_IMAGE: ${{ steps.get-kernel-image.outputs.image }}
          FORCE_REBUILD: "${{ inputs.force-rebuild }}"
          FORCED_TAG: ${{ inputs.return-image-for-tag }}
          NEW_TAG: ${{ inputs.tag }}
        run: |
          if [ -z "${NEW_TAG}" ]; then
            # there's no tag provided to retag the image with
            RETAG_NEEDED=false
          elif [ -z "${CACHED_IMAGE}" ]; then
            # there's no image to retag
            RETAG_NEEDED=false
          elif [ -n "${FORCED_TAG}" ]; then
            # we're asked to return image for a specific tag, so no need to retag
            RETAG_NEEDED=false
          elif [ "${FORCE_REBUILD}" == "true" ]; then
            # the image is going to be rebuilt anyway, no need to retag it now
            RETAG_NEEDED=false
          else
            RETAG_NEEDED=true
          fi

          echo "retag-needed=${RETAG_NEEDED}" >> $GITHUB_OUTPUT

      - name: tag image with new tag
        if: steps.check-if-retag-needed.outputs.retag-needed == 'true'
        env:
          CACHED_IMAGE: ${{ steps.get-kernel-image.outputs.image }}
          NEW_TAG: ${{ inputs.tag }}
        run: |
          docker buildx imagetools create -t "${VM_KERNEL_IMAGE}:${NEW_TAG}" \
                                             "${CACHED_IMAGE}"

  get-tags:
    needs: setup-build-vm-kernel-image
    outputs:
      kernel_version_tag: ${{ steps.get-kernel-version.outputs.VM_KERNEL_VERSION }}
      tags: ${{ steps.get-tags.outputs.tags }}
      canonical: ${{ steps.get-tags.outputs.canonical }}
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@4d991eb9b905ef189e4c376166672c3f2f230481 # v2.11.0
        with:
          egress-policy: audit

      - name: git checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: get kernel version
        id: get-kernel-version
        run: |
          kernel_version="$(neonvm-kernel/echo-version.sh)" # returns something like "6.1.63"
          echo VM_KERNEL_VERSION=$kernel_version >> $GITHUB_OUTPUT

      - name: get docker tags
        id: get-tags
        env:
          KERNEL_VERSION_TAG: ${{ inputs.tag || steps.get-kernel-version.outputs.VM_KERNEL_VERSION }}
          CACHE_TAG: ${{ needs.setup-build-vm-kernel-image.outputs.kernel-cache-tag }}
        run: |
          # A comma-separated list of tags
          TAGS="${KERNEL_VERSION_TAG}"
          TAGS="${CACHE_TAG},${TAGS}"
          TAGS="${GITHUB_RUN_ID},${TAGS}"
          echo "Debug TAGS=${TAGS}"
          echo "tags=${TAGS}" >> $GITHUB_OUTPUT
          # `docker/build-push-action@v6` returns all ${TAGS} in metadata ("image.name" field), so it can't be used a image name right away.
          # Choose one of them as a "canonical" tag and use it to construct the job output (along with a digest provided by `docker/build-push-action@v6`).
          echo "canonical=${GITHUB_RUN_ID}" >> $GITHUB_OUTPUT

  build-vm-kernel-image:
    permissions:
      contents: read  # This is required for actions/checkout
      packages: write  # required for pushing to GHCR
    needs: [setup-build-vm-kernel-image, get-tags]
    if: needs.setup-build-vm-kernel-image.outputs.image == ''
    outputs:
      image: ${{ needs.get-tags.outputs.canonical }}@${{ steps.build-linux-kernel.outputs.digest }}

    strategy:
      matrix:
        arch: ${{ fromJson(inputs.archs) }}

    runs-on: ${{ fromJson(format('["self-hosted", "{0}"]', matrix.arch == 'arm64' && 'huge-arm64' || 'large')) }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@4d991eb9b905ef189e4c376166672c3f2f230481 # v2.11.0
        with:
          egress-policy: audit

      - name: git checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: set custom docker config directory
        uses: neondatabase/dev-actions/set-docker-config-dir@6094485bf440001c94a94a3f9e221e81ff6b6193

      - name: docker - setup buildx
        uses: docker/setup-buildx-action@b5ca514318bd6ebac0fb2aedd5d36ec1b5c232a2 # v3.10.0
      - name: Login to GHCR
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3.4.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: login to docker hub
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3.4.0
        with:
          username: ${{ secrets.NEON_DOCKERHUB_USERNAME }}
          password: ${{ secrets.NEON_DOCKERHUB_PASSWORD }}
      - name: Login to Docker cache registry
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3.4.0
        with:
          registry: cache.neon.build
          username: ${{ secrets.NEON_CI_DOCKERCACHE_USERNAME }}
          password: ${{ secrets.NEON_CI_DOCKERCACHE_PASSWORD }}

      - name: Generate full image tags
        id: generate-full-image-tags
        env:
          TAGS: "${{ join(fromJson(needs.get-tags.outputs.tags), ' ')}}"
        run: |
          # build list of full qualified image names with all tags we have for this run
          # list is used later to merge images
          PROCESSED_TAGS=""
          for tag in ${TAGS}; do

            # build full image tag like "ghcr.io/neondatabase/vm-kernel-amd64:6.1.63"
            full_image_tag="${GHCR_REGISTRY}/${VM_KERNEL_IMAGE}-${{ matrix.arch }}:${tag}"

            # add or instantiate list of full qualified image names with all tags we have for this run
            if [ -z "$PROCESSED_TAGS" ]; then
              PROCESSED_TAGS="$full_image_tag"
            else
              PROCESSED_TAGS="$PROCESSED_TAGS,$full_image_tag"
            fi
          done

          echo "tags=${PROCESSED_TAGS}" >> $GITHUB_OUTPUT

      - name: Generate kernel version suffix
        id: generate-version-suffix
        run: |
          commit="$(git log -n1 --format='format:%h')"
          date="$(date -u '+%FT%TZ')"
          echo "suffix=-neon-$commit-$date" | tee -a $GITHUB_OUTPUT

      - name: Load base image tags and SHAs into env
        env:
          MATRIX_ARCH: ${{ matrix.arch }}
        run: |
          case "$MATRIX_ARCH" in
              'amd64' | 'arm64')
                  ;;
              *)
                  echo "Unexpected architecture $MATRIX_ARCH"
                  exit 1
                  ;;
          esac

          arch="${MATRIX_ARCH@U}" # upper-case
          grep -v '^#' versions.env | grep -E "^[A-Z]+(_TAG|_SHA_$arch)=" | sed -e "s/_$arch=/=/g" >> $GITHUB_ENV

      - name: build linux kernel
        id: build-linux-kernel
        uses: docker/build-push-action@471d1dc4e07e5cdedd4c2171150001c434f0b7a4 # v6.15.0
        with:
          build-args: |
            UBUNTU_IMG_TAG=${{ env.UBUNTU_IMG_TAG }}
            UBUNTU_IMG_SHA=${{ env.UBUNTU_IMG_SHA }}
            ALPINE_IMG_TAG=${{ env.ALPINE_IMG_TAG }}
            ALPINE_IMG_SHA=${{ env.ALPINE_IMG_SHA }}
            ALPINE_IMG_SHA_AMD64=${{ env.ALPINE_IMG_SHA_AMD64 }}
            ALPINE_IMG_SHA_ARM64=${{ env.ALPINE_IMG_SHA_ARM64 }}
            KERNEL_VERSION=${{ needs.get-tags.outputs.kernel_version_tag }}
            VERSION_SUFFIX=${{ steps.generate-version-suffix.outputs.suffix }}
          context: neonvm-kernel
          # neonvm-kernel/Dockerfile has different targets for different architectures
          # so we need to specify the target explicitly
          target: ${{ format('kernel_{0}', matrix.arch) }}
          # Push kernel image only for scheduled builds or if workflow_dispatch/workflow_call input is true
          push: true
          pull: true
          provenance: false
          sbom: false
          file: neonvm-kernel/Dockerfile
          cache-from: ${{ format('type=registry,ref=cache.neon.build/vm-kernel-{0}:cache', matrix.arch) }}
          cache-to: ${{ github.ref_name == 'main' && format('type=registry,ref=cache.neon.build/vm-kernel-{0}:cache,mode=max', matrix.arch) || '' }}
          tags: ${{ steps.generate-full-image-tags.outputs.tags }}

  merge-kernel-images:
    permissions:
      contents: read  # This is required for actions/checkout
      packages: write  # required for pushing to GHCR
    needs: [setup-build-vm-kernel-image, build-vm-kernel-image, get-tags]
    # onlye merge images build during this workflow invocation
    if: needs.setup-build-vm-kernel-image.outputs.image == ''
    runs-on: ubuntu-latest
    outputs:
      image: ${{ steps.merge-kernel-images.outputs.image }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@4d991eb9b905ef189e4c376166672c3f2f230481 # v2.11.0
        with:
          egress-policy: audit

      - name: git checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: docker - setup buildx
        uses: docker/setup-buildx-action@b5ca514318bd6ebac0fb2aedd5d36ec1b5c232a2 # v3.10.0

      - name: Login to GHCR
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3.4.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Log in to Docker Hub
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3.4.0
        with:
          username: ${{ secrets.NEON_DOCKERHUB_USERNAME }}
          password: ${{ secrets.NEON_DOCKERHUB_PASSWORD }}

      - name: merge kernel images
        id: merge-kernel-images
        env:
          ARCHS: ${{ join(fromJson(inputs.archs), ' ') }}
          # merge only canonical tag
          TAG: ${{ needs.get-tags.outputs.canonical }}

        run: |
          result_image="${GHCR_REGISTRY}/${VM_KERNEL_IMAGE}:${TAG}"

          args=("-t" "${result_image}")
          for arch in ${ARCHS}; do
            args+=("${GHCR_REGISTRY}/${VM_KERNEL_IMAGE}-${arch}:${TAG}")
          done
          docker buildx imagetools create "${args[@]}"

          echo "image=${result_image}" >> $GITHUB_OUTPUT

      - name: Copy vm-kernel to Docker Hub
        env:
          TAG: ${{ needs.get-tags.outputs.canonical }}
        run: |
          echo Copy ${VM_KERNEL_IMAGE}:${TAG} to Docker Hub
          docker buildx imagetools create -t "${DOCKERHUB_REGISTRY}/${VM_KERNEL_IMAGE}:${TAG}" \
                                                  "${GHCR_REGISTRY}/${VM_KERNEL_IMAGE}:${TAG}"
